{
    "parser": "babel-eslint",
    "rules": {
        "no-unused-vars":"warn",
        "comma-dangle": "off",
    "space-before-function-paren": "off"
    },
    "env": {
        "commonjs": true,
    "es2021": true,
    "node": true,
    "browser": true
    },
    
        "globals": {
            "document": false,
            "_": "readonly"
        },
    
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
    "ecmaVersion": 12
    },
    
}



