<li review__item>
  <div class='review'>
    <img src={{image}} alt='user-img' class='review__user-img' />
    <div class='review__info'>
      <span class='review__user-name'>{{name}}</span>
      <ul class='stars-list list'>
        <li class='star'>★</li>
        <li class='star'>★</li>
        <li class='star'>★</li>
        <li class='star'>★</li>
        <li class='star'>★</li>
      </ul>
      <p class='review__message'>{{message}}</p>
    </div>
  </div>
</li>