<div class='product'>
  <img src='' alt='' />
  <div class='product__info'>
    <h2 class='product__title'></h2>
    <span class='product__price price'></span>
    <p class='product__description'></p>
    <button type='button' class='product__button'>Add To Cart</button>
  </div>
</div>