.products__filters {
  display: none;
}

@media screen and (min-width: $desktop) {
  .products__filters {
    display: block;
    width: 380px;
    margin-right: 30px;
    border: 1px solid black;
  }
}
