.products__filters {
  display: none;
}

@media screen and (min-width: $desktop) {
  .products__filters {
    display: block;
    width: 380px;
    margin-right: 30px;
    border: 1px solid black;
    padding: 20px 10px;
  }

  .search-filter {
    padding-left: 5px;
    font-size: 20px;
    margin-bottom: 20px;

    &::placeholder {
      font-size: 16px;
    }
  }

  .range {
    position: relative;
    width: 65%;
  }

  .price-filter {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    outline: none;
    border-radius: 4px;
    background-color: $second-photo-bcg;
    cursor: pointer;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: rgb(66, 66, 240);
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  .progress {
    width: 50%;
    height: 5px;
    background: rgb(66, 66, 240);
    border-radius: 4px;
    position: absolute;
    top: 58%;
    left: 0;
  }
}
