body {
  font-family: $font-family-main, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: $primary-text-color;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1600px;
  padding-left: 16px;
  padding-right: 16px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
