.arrival-section {
  background-color: $dark-bcg-color;
}

.arrival {
  padding: 0 16px;
  text-align: center;
  padding-top: 10px;

  &__inform {
    margin-bottom: 15px;
  }

  &__title {
    color: $white-color;
    font-weight: bold;
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
  }

  &__text {
    color: $white-color;
    font-size: 12px;
  }

  &__list {
    display: block;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__card {
    width: 300px;
    height: 345px;
    border-bottom: 1px solid $primary-text-color;
    background-color: $white-color;
    margin-left: auto;
    margin-right: auto;
  }

  &__img {
    width: 100%;
    height: 245px;
    margin-bottom: 8px;
    background-color: transparent;
    object-fit: contain;
  }

  &__card-info {
    text-align: center;
    height: auto;
  }

  &__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
  }

  &__price {
    font-size: 16px;
  }

  &__btn-cart {
    width: 32px;
    height: 32px;
    background-image: url('../images/icons/cart-icon.png');
    background-size: contain;
    margin: 0 2px;
  }

  &__btn-product {
    width: 32px;
    height: 32px;
    background-image: url('../images/icons/product-icon.png');
    background-size: contain;
    margin: 0 2px;
  }
}

@media screen and (min-width: $desktop) {
  .arrival-section {
    background-color: transparent;
  }

  .arrival {
    height: 426px;
    background-image: linear-gradient(
      to right,
      $dark-bcg-color 344px,
      $white-color 344px
    );
    padding: 32px 0 32px 16px;
    display: flex;
    justify-content: end;
    border: none;

    &__inform {
      width: 213px;
      margin-right: 30px;
      margin-bottom: 0;
      text-align: left;
    }

    &__title {
      font-size: 24px;
      line-height: 36px;
    }

    &__text {
      font-size: 18px;
      line-height: 1.78;
    }

    &__list {
      display: flex;
    }

    &__item:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 0;
    }

    &__card {
      width: 280px;
      height: 362px;
      padding: 38px 30px;
      border: 1px solid transparent;
      text-align: center;
    }

    &__card:hover,
    &__card:focus {
      background-color: $second-photo-bcg;
      border: 1px solid $primary-text-color;
    }

    &__img {
      width: 200px;
      height: 200px;
      display: inline-block;
    }
  }
}
