.header__lower {
  position: relative;
  height: 128px;
}

.header__categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0;
}

.categories-item {
  border-radius: 4px;
  font-size: 10px;
  text-align: center;
  margin: 2px;

  &:hover,
  &:focus {
    color: $white-color;
    background-color: $dark-bcg-color;
  }
}

.category-img {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}

.rest-categories-list {
  background-color: rgba(159, 159, 159, 0.95);
  position: absolute;
  color: $white-color;
  right: 0;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: $animation-duration $animation-timing-function;
  text-align: center;

  &.open {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    z-index: 105;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@media screen and (min-width: $desktop) {
  .header__categories-list {
    padding: 0;
  }

  .categories-item {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 20px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  .category-img {
    width: 65px;
    height: 65px;
  }
}
