.header__categories-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.header__categories-item {
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.header__categories-btn {
  width: 100%;
  color: inherit;
}

.header__categories-btn:hover,
.header__categories-btn:focus {
  transition: $animation-duration $animation-timing-function;
  color: $primary-text-color;
}

.header__categories-icon {
  width: 60px;
  height: 60px;
  fill: $first-photo-bcg;
}

.header__categories-btn:hover .header__categories-icon,
.header__categories-btn:focus .header__categories-icon {
  fill: currentColor;
}

@media screen and (min-width: $desktop) {
  .header__categories-list {
    justify-content: center;
    padding-top: 0;
  }

  .header__categories-item {
    width: 120px;
    height: 120px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}
