$primary-text-color: rgba(57, 61, 70, 1);
$secondary-text-color: rgba(159, 159, 159, 1);
$white-color: rgba(255, 255, 255, 1);
$hero-background: #f6f7fb;
$first-photo-bcg: #cdcfd1;
$second-photo-bcg: #c4c4c4;
$dark-bcg-color: #393d46;

$font-family-main: Poppins;

$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
