{{#each this}}
  <li class='feature-section__list-item'>
    <button class='feature-section__list-card' data-id={{id}} type='button'>
      <img src={{image}} alt={{name}} class='feature-section__list-card-img' />
      <h3 class='feature-section__list-card-title'>{{name}}</h3>

    </button>
  </li>
{{/each}}