.review__rating {
  display: flex;
  align-items: center;

  &-title {
    margin: 0;
  }

  &-container {
    position: relative;
    font-size: 26px;
    display: inline-block;
  }

  &-container::before {
    content: '★★★★★';
    display: block;
  }

  &-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
  }

  &-item {
    position: absolute;
    width: 0%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
  }

  &-item:checked,
  &-item:checked ~ &-label {
    color: gold;
  }

  &-label {
    flex: 0 0 20%;
    height: 100%;
    cursor: pointer;
    color: gray;
  }

  &-label:before {
    content: '★';
    display: block;
    transition: color $animation-duration $animation-timing-function;
  }

  &-label:hover,
  &-label:hover ~ &-label,
  &-label:checked ~ &-label:hover {
    color: rgb(243, 243, 170);
  }
}
