.brands {
  display: block;
}

.brands__list {
  display: flex;
  justify-content: center;
}

.brands__item:not(:last-child) {
  margin-right: 80px;
}

@media screen and (max-width: 1631px) {
  .brands {
    display: none;
  }
}
