.feature-section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feature-section__title {
  margin: 32px 0;
  font-weight: bold;
  font-size: 36px;
}

.feature-section__link {
  display: inline-flex;
  align-items: center;
  padding: 0 4px;
  border: 1px solid transparent;
  border-radius: 4px;

  &-text {
    margin-right: 8px;
    font-weight: 500;
    font-size: 18px;
  }

  &:hover,
  &:focus {
    border: 1px solid $primary-text-color;
    transition: $animation-duration $animation-timing-function;
  }
}

.feature-section__main-list {
  display: flex;
}

.feature-section__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-top: -32px;
}

.feature-section__list-item {
  margin-left: 32px;
  margin-top: 32px;
  flex-basis: calc((100% - 64px) / 2);
}

.feature-section__list-card {
  height: 368px;
  border: 1px solid black;
}

.feature-section__list-card-img {
  height: 245px;
  background-color: burlywood;
  margin-bottom: 16px;
}

.feature-section__list-card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;

  margin-bottom: 8px;
  text-align: center;
  margin-top: 0;
}

.feature-section__list-card-price {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: $secondary-text-color;
  font-size: 18px;
}

.feature-section__main-card {
  height: 769px;
  border: 1px solid black;
}

// .feature-section__main-card-img {
//   width: 521px;
//   height: 400px;
//   background-color: grey;
// }
