.hero__wrapper {
  height: 400px;
  background-color: $hero-background;
  background-image: url('../images/hero-images/hero-background.jpg');
  padding: 16px 0;
}

.hero__container {
  position: relative;
}

.hero__img {
  height: 368px;
  object-fit: cover;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 80px;
  height: 80px;
  background-color: $white-color;
  border: 15px solid $white-color;
  background-size: contain;
}

.slick-arrow.slick-prev {
  left: -30px;
  background-image: url('../images/arrows/arrow-left-gray.png');
}

.slick-arrow.slick-next {
  right: -30px;
  background-image: url('../images/arrows/arrow-right-gray.png');
}

.slick-arrow.slick-prev:hover {
  background-image: url('../images/arrows/left-black.jfif');
}

.slick-arrow.slick-next:hover {
  background-image: url('../images/arrows/right-black.jfif');
}

.slick-dots {
  position: absolute;
  bottom: 10px;
  left: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 10px;
}

.slick-dots li.slick-active button {
  background-color: $primary-text-color;
}

.slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: $white-color;
  border-radius: 50%;
}

.hero__information {
  position: absolute;
  top: 20px;
  left: 20px;
  text-align: center;
}

.hero__additional-information {
  display: none;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-family: Playfair Display;
  font-weight: 700;
  font-size: 42px;
  color: $primary-text-color;
}

.hero__text {
  display: inline-block;
  font-size: 12px;
  margin-bottom: 20px;
  width: 286px;
  margin-top: 0;
  color: $white-color;
}

.hero__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 145px;
  height: 30px;
  color: $white-color;
  background-color: $dark-bcg-color;
  font-size: 12px;

  &-text {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    background-color: $white-color;
    transition: $animation-duration $animation-timing-function;
  }
}

.hero__button:hover .hero__button-text,
.hero__button:hover .hero__button-arrow,
.hero__button:focus .hero__button-text,
.hero__button:focus .hero__button-arrow {
  color: $primary-text-color;
  fill: $primary-text-color;
}

.hero__nav-btn {
  display: none;
}

.slider-icons {
  position: absolute;
  bottom: 16px;
  left: 132px;
  display: inline-flex;
  justify-content: space-between;
  width: 112px;
}

.hero__slider-icon {
  width: 8px;
  height: 8px;
}

.hero__slider-btn:hover,
.hero__slider-btn:focus {
  color: $primary-text-color;
  transition: $animation-duration $animation-timing-function;
}

.hero__slider-btn:hover .hero__slider-icon,
.hero__slider-btn:focus .hero__slider-icon {
  fill: currentColor;
}

@media screen and (min-width: $desktop) {
  .hero__wrapper {
    height: 718px;
    padding: 32px 0;
  }

  .hero__img {
    width: 1600px;
    height: 654px;
    background-color: rgba(205, 207, 209, 1);
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
  }

  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 80px;
    height: 80px;
    background-color: $white-color;
    border: 15px solid $white-color;
    background-size: contain;
  }

  .slick-arrow.slick-prev {
    left: -30px;
    background-image: url('../images/arrows/arrow-left-gray.png');
  }

  .slick-arrow.slick-next {
    right: -30px;
    background-image: url('../images/arrows/arrow-right-gray.png');
  }

  .slick-arrow.slick-prev:hover {
    background-image: url('../images/arrows/left-black.jfif');
  }

  .slick-arrow.slick-next:hover {
    background-image: url('../images/arrows/right-black.jfif');
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 760px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-dots li {
    list-style: none;
    margin: 0 10px;
  }

  .slick-dots li.slick-active button {
    background-color: $primary-text-color;
  }

  .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: $white-color;
    border-radius: 50%;
  }

  .hero__information {
    top: 145px;
    left: 283px;
  }

  .hero__additional-information {
    display: inline-block;
    padding: 10px;
    background-color: $white-color;
    font-weight: 500;
    margin-bottom: 32px;
  }

  .hero__title {
    margin-bottom: 40px;
    font-size: 72px;
    color: $white-color;
  }

  .hero__text {
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 80px;
    width: 678px;
    margin-top: 0;
  }

  .hero__button {
    display: flex;
    width: 245px;
    height: 60px;
    font-weight: 500;
    font-size: 24px;
  }

  .hero__nav-btn {
    display: block;
    position: absolute;
    top: 319px;
    width: 80px;
    height: 80px;
    background-color: $white-color;
  }

  .hero__nav-btn:hover,
  .hero__nav-btn:focus {
    color: $primary-text-color;
    transition: $animation-duration $animation-timing-function;
  }

  .hero__nav-btn:hover .hero__arrow-icon,
  .hero__nav-btn:focus .hero__arrow-icon {
    fill: currentColor;
  }

  .right {
    right: -30px;
  }

  .left {
    left: -30px;
  }

  .slider-icons {
    bottom: 36px;
    left: 760px;
    width: 112px;
  }

  .hero__slider-icon {
    width: 12px;
    height: 12px;
  }
}
