.header__upper {
  display: flex;
  align-items: center;
  height: 96px;
  position: relative;

  &:after {
    position: absolute;
    bottom: 0;
    content: '';
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $hero-background;
    width: 100%;
  }
}

.main-navigation__list {
  display: flex;
  font-size: 18px;
  line-height: 1.8;
  margin-right: 213px;
}

.main-navigation__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 56px;
  }
}

.main-navigation__link {
  display: inline-flex;
  padding: 34px 0 35px;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: $primary-text-color;
    border-radius: 2px;
    opacity: 0;
    transition: $animation-duration $animation-timing-function;
  }

  &:hover:after,
  &:focus:after {
    opacity: 1;
  }
}

.header-features-list {
  display: inline-flex;
  margin-left: 530px;
  justify-content: space-between;
  height: 24px;
  width: 168px;
  align-items: center;

  &__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
    color: inherit;
  }

  &__btn:hover,
  &__btn:focus {
    background-color: $dark-bcg-color;
    color: $white-color;
    transition: $animation-duration $animation-timing-function;
  }
}

.header-features-list__btn:hover .icon,
.header-features-list__btn:focus .icon {
  fill: currentColor;
}
