.table {
  border-collapse: collapse;
  width: 100%;

  & th,
  & td {
    padding: 16px 0;
  }

  & thead tr {
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
  }

  & tr {
    border-bottom: $border $first-photo-bcg;
  }
}

.main-cart__product {
  display: block;
  text-align: left;
  width: 100px;
}

.main-cart__img-container {
  display: inline-block;
  border: $border $secondary-text-color;
  padding: 10px;
}

.main-cart__img {
  width: 60px;
  height: 60px;
}

.main-cart__title {
  color: $primary-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.table .product__quantity {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.table .quantity {
  width: 24px;
  height: 24px;
}

.table .product__total {
  width: 24px;
  height: 24px;
}

.table .cart-page__cross-img {
  fill: $primary-text-color;
  width: 16px;
  height: 16px;
}

.table .stock {
  font-size: 14px;
  padding: 2px;
}

.table .new-price {
  color: rgb(36, 238, 36);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}

.cart-page__additional-form {
  margin-top: 8px;
}

.cart-page__additional-label {
  display: block;
  color: $secondary-text-color;
  font-size: 12px;
}

@media screen and (min-width: $desktop) {
  .table {
    & th,
    & td {
      padding: 32px 0;
    }

    & thead tr {
      font-size: 18px;
    }
  }

  .main-cart__product {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .main-cart__img-container {
    margin-right: 46px;
  }

  .main-cart__img {
    width: 200px;
    height: 200px;
  }

  .main-cart__title {
    font-size: 24px;
    margin-right: 186px;
  }

  .table .product__quantity {
    margin-right: 126px;
    flex-direction: row;
    font-size: 24px;
  }

  .table .quantity {
    width: 32px;
    height: 32px;
  }

  .table .product__total {
    width: 42px;
    height: 32px;
  }

  .table .main__remove-button {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  .table .cart-page__cross-img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  .table .stock {
    font-size: 24px;
    padding: 8px;
  }

  .table .new-price {
    font-size: 28px;
    margin-right: 186px;
    position: relative;

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: -60px;
      background-image: url('../images/line.png');
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .cart-page__additional-form {
    margin-left: 20px;
    margin-top: 12px;
  }

  .cart-page__additional-label {
    display: block;
    color: $secondary-text-color;
    font-size: 18px;
  }

  .modal-table {
    border-collapse: collapse;
    width: 100%;
    overflow: scroll;

    &__name-container {
      display: flex;
      align-items: center;
    }

    &__bank-logo {
      width: 60px;
      height: 60px;
      margin-right: 6px;
    }

    // &__radio {
    //   visibility: hidden;
    // }

    &__label {
      font-weight: 700;
      font-size: 20px;
    }

    &__select {
      padding: 4px;
      font-size: 18px;

      & option {
        font-size: 14px;
      }
    }

    &__bank-info {
      font-size: 16px;
      color: $secondary-text-color;
      padding-bottom: 12px;
      border-bottom: $border $first-photo-bcg;
      margin: 0;
    }

    &__total {
      margin-top: 10px;
      margin-bottom: 0;
      font-size: 22px;
    }

    &__credit {
      font-size: 18px;
      color: $secondary-text-color;
    }

    &__credit-container {
      display: flex;
      flex-direction: column;
    }

    &__credit-text {
      color: $secondary-text-color;
      font-size: 16px;
    }

    &__button {
      margin-top: 4px;
      display: block;
      padding: 4px;
      border: $border transparent;
      color: $white-color;
      background-color: $dark-bcg-color;
      cursor: pointer;
      font-size: 18px;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;

      &:hover,
      &:focus {
        border-color: $dark-bcg-color;
        color: $primary-text-color;
        background-color: $first-photo-bcg;
      }
    }
  }
}
