.slick-list {
  overflow: hidden;
  position: relative;
}

.slick-track {
  display: flex;
}

.hero__slider .slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
}

.slick-dots {
  position: absolute;
  bottom: 0px;
  left: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slick-dots li {
  list-style: none;
  margin: 0 5px;
}

.slick-dots li.slick-active button {
  background-color: $primary-text-color;
}

.slick-dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  background-color: $white-color;
  border-radius: 50%;
}

@media screen and (min-width: $desktop) {
  .hero__slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 80px;
    height: 80px;
    background-color: $white-color;
    border: 15px solid $white-color;
    background-size: contain;
  }

  .hero__slider .slick-arrow.slick-prev {
    left: 0;
    background-image: url('../images/arrows/arrow-left-gray.png');
  }

  .hero__slider .slick-arrow.slick-next {
    right: 0;
    background-image: url('../images/arrows/arrow-right-gray.png');
  }

  .hero__slider .slick-arrow.slick-prev:hover {
    background-image: url('../images/arrows/left-black.jfif');
  }

  .hero__slider .slick-arrow.slick-next:hover {
    background-image: url('../images/arrows/right-black.jfif');
  }

  .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-dots li {
    list-style: none;
    margin: 0 10px;
  }

  .slick-dots li.slick-active button {
    background-color: $primary-text-color;
  }

  .slick-dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    background-color: $white-color;
    border-radius: 50%;
  }
}
